@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Biotif';
  src: url('../public/fonts/Biotif-Regular.ttf');
}

@font-face {
  font-family: 'Biotif-Bold';
  src: url('../public/fonts/Biotif-Bold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Biotif', Segoe UI;
}

body {
  @apply bg-black text-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cbold {
  font-family: 'Biotif-Bold', Segoe UI;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
